<%- include("header") -%>
<%-include("navbar.ejs") -%>

<div class="box">
  <h2>Todo list Version1.0</h2>
</div>

<div class="box">
  <p>Todo List is a simple and easy-to-use website that allows users to create and manage their to-do lists. The site enables users to add tasks, set due dates, and mark tasks as completed, providing a clear overview of the tasks that need to be done. With its clean and user-friendly interface, Todo List makes it easy to stay organized and on top of tasks, whether you're managing a busy work schedule or simply trying to keep track of daily chores. Whether you're using it on your computer or mobile device, Todo List is the perfect tool to help you stay productive and focused on what really matters.</p>
</div>

<%- include("footer") -%>
