<%- include("header") -%>
<%-include("navbar.ejs") -%>

<div class="box" id="about">
  <h2>Todo list Version 1.0</h2>
</div>

<div class="box" id="about">
  <p class="pAbout">Todo List is a simple and easy-to-use website that allows users to create and manage their to-do lists.
     The site enables users to add tasks and mark tasks as completed.</p>
</div>

<%- include("footer") -%>
