<%- include("header.ejs") -%>

<%-include("navbar.ejs") -%>


<div class="box" id="heading"> <h1> <%= listTitle %> </h1> </div>

<!-- list -->
<div class="homeRouteBox">
      <a href="/daily-tasks" class="homePageLink">
        <div class="itemHomeRoute">
          Daily Tasks
        </div>
      </a>
      <a href="/work-projects" class="homePageLink">
        <div class="itemHomeRoute">
          Work Projects
        </div>
      </a>
      <a href="/groceries" class="homePageLink">
        <div class="itemHomeRoute">
          Groceries
        </div>
      </a>
    </div>

    <!-- res.render("list", {listTitle: todayDate, newListItems: items}); -->




<%- include("footer.ejs") -%>
